.env
.DS_Store
node_modules
vendor

backend/vendor
backend/storage/logs
backend/storage/framework/cache
backend/storage/framework/sessions
backend/storage/framework/views
frontend/node_modules

docker/nginx/certs/*.crt
docker/nginx/certs/*.key
