includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 9
    paths:
        - app/src
        - tests
    tmpDir: storage/framework/cache/phpstan
    bootstrapFiles:
        - vendor/autoload.php
