openapi: 3.0.3
info:
  title: SaaS Template API
  version: 1.0.0
  description: API contract for the Laravel/Nuxt SaaS template.
servers:
  - url: https://api.project.dev/api/v1
    description: Local development
security:
  - sanctumCookie: []
tags:
  - name: Public
  - name: Auth
  - name: Account
  - name: Preferences
  - name: TwoFactor
  - name: Sessions
  - name: Audits
paths:
  /health:
    get:
      tags: [Public]
      security: []
      summary: Health check
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /me:
    get:
      tags: [Auth]
      summary: Get current user
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCurrentUserResponse"
        "401":
          description: Unauthenticated
  /account:
    delete:
      tags: [Account]
      summary: Delete current account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteAccountRequest"
      responses:
        "200":
          description: Account deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "401":
          description: Unauthenticated
        "422":
          description: Validation error
  /preferences:
    get:
      tags: [Preferences]
      summary: Get user preferences and options
      responses:
        "200":
          description: Preferences
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserPreferencesResponse"
        "401":
          description: Unauthenticated
    put:
      tags: [Preferences]
      summary: Update user preferences
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserPreferencesRequest"
      responses:
        "200":
          description: Preferences
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserPreferencesResponse"
        "401":
          description: Unauthenticated
        "422":
          description: Validation error
  /two-factor/recovery-codes:
    post:
      tags: [TwoFactor]
      summary: Show recovery codes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordConfirmationRequest"
      responses:
        "200":
          description: Recovery codes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TwoFactorRecoveryCodesResponse"
        "401":
          description: Unauthenticated
        "422":
          description: Validation error
  /two-factor/recovery-codes/regenerate:
    post:
      tags: [TwoFactor]
      summary: Regenerate recovery codes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordConfirmationRequest"
      responses:
        "200":
          description: Recovery codes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TwoFactorRecoveryCodesResponse"
        "401":
          description: Unauthenticated
        "422":
          description: Validation error
  /two-factor/disable:
    post:
      tags: [TwoFactor]
      summary: Disable two-factor authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordConfirmationRequest"
      responses:
        "204":
          description: Disabled
        "401":
          description: Unauthenticated
        "422":
          description: Validation error
  /sessions:
    get:
      tags: [Sessions]
      summary: List user sessions
      responses:
        "200":
          description: Sessions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSessionListResponse"
        "401":
          description: Unauthenticated
        "422":
          description: Session store unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
  /sessions/revoke-others:
    post:
      tags: [Sessions]
      summary: Revoke other sessions
      responses:
        "200":
          description: Result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeOtherSessionsResponse"
        "401":
          description: Unauthenticated
        "422":
          description: Session store unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
  /sessions/{id}:
    delete:
      tags: [Sessions]
      summary: Revoke a specific session
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Revoked
        "401":
          description: Unauthenticated
        "404":
          description: Session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
  /audits:
    get:
      tags: [Audits]
      summary: List audits
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        "200":
          description: Audits
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAuditListResponse"
        "401":
          description: Unauthenticated
components:
  securitySchemes:
    sanctumCookie:
      type: apiKey
      in: cookie
      name: laravel_session
  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        timestamp:
          type: string
          format: date-time
      required: [status, timestamp]
    MessageResponse:
      type: object
      properties:
        message:
          type: string
      required: [message]
    DeleteAccountRequest:
      type: object
      properties:
        confirmation:
          type: string
          example: DELETE
        password:
          type: string
      required: [confirmation]
    PreferenceOption:
      type: object
      properties:
        value:
          type: string
        label:
          type: string
      required: [value, label]
    PreferencesData:
      type: object
      properties:
        locale:
          type: string
        theme:
          type: string
        primary_color:
          type: string
        neutral_color:
          type: string
        timezone:
          type: string
      required: [locale, theme, primary_color, neutral_color, timezone]
    GetUserPreferencesResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/PreferencesData"
        available_locales:
          type: array
          items:
            $ref: "#/components/schemas/PreferenceOption"
        available_themes:
          type: array
          items:
            $ref: "#/components/schemas/PreferenceOption"
        available_primary_colors:
          type: array
          items:
            $ref: "#/components/schemas/PreferenceOption"
        available_neutral_colors:
          type: array
          items:
            $ref: "#/components/schemas/PreferenceOption"
        available_timezones:
          type: array
          items:
            $ref: "#/components/schemas/PreferenceOption"
      required:
        - data
        - available_locales
        - available_themes
        - available_primary_colors
        - available_neutral_colors
        - available_timezones
    UpdateUserPreferencesRequest:
      type: object
      properties:
        locale:
          type: string
        theme:
          type: string
        primary_color:
          type: string
        neutral_color:
          type: string
        timezone:
          type: string
    PasswordConfirmationRequest:
      type: object
      properties:
        password:
          type: string
      required: [password]
    TwoFactorRecoveryCodesResponse:
      type: object
      properties:
        codes:
          type: array
          items:
            type: string
      required: [codes]
    UserPreferencesResponseItem:
      type: object
      properties:
        locale:
          type: string
        theme:
          type: string
        primary_color:
          type: string
        neutral_color:
          type: string
        timezone:
          type: string
      required: [locale, theme, primary_color, neutral_color, timezone]
    UserResponseItem:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
        email_verified_at:
          type: string
          format: date-time
          nullable: true
        auth_provider:
          type: string
        password_set_at:
          type: string
          format: date-time
          nullable: true
        two_factor_enabled:
          type: boolean
        two_factor_confirmed:
          type: boolean
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
        preferences:
          $ref: "#/components/schemas/UserPreferencesResponseItem"
      required:
        - id
        - name
        - email
        - auth_provider
        - two_factor_enabled
        - two_factor_confirmed
    GetCurrentUserResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/UserResponseItem"
      required: [data]
    SessionResponseItem:
      type: object
      properties:
        id:
          type: string
        ip_address:
          type: string
          nullable: true
        user_agent:
          type: string
          nullable: true
        last_activity:
          type: integer
        is_current:
          type: boolean
      required: [id, last_activity, is_current]
    GetSessionListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/SessionResponseItem"
      required: [data]
    RevokeOtherSessionsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            revoked:
              type: boolean
          required: [revoked]
      required: [data]
    AuditResponseItem:
      type: object
      properties:
        id:
          type: integer
        event:
          type: string
        created_at:
          type: string
          format: date-time
        old_values:
          type: object
          nullable: true
          additionalProperties: true
        new_values:
          type: object
          nullable: true
          additionalProperties: true
        ip_address:
          type: string
          nullable: true
        user_agent:
          type: string
          nullable: true
        tags:
          type: string
          nullable: true
      required: [id, event, created_at]
    AuditMeta:
      type: object
      properties:
        current_page:
          type: integer
        last_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
      required: [current_page, last_page, per_page, total]
    GetAuditListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AuditResponseItem"
        meta:
          $ref: "#/components/schemas/AuditMeta"
      required: [data]
